{{ define "breadcrumb-events" }}
    <a href="/events">Events</a>
    {{ if .Owner }}
        &gt; <a href="/events/{{ .Owner }}">{{ .Owner }}</a>
        {{ if .Repository }}
            &gt; <a href="/events/{{ .Owner }}/{{ .Repository }}">{{ .Repository }}</a>
            {{ if .Branch }}
                &gt; <a href="/events/{{ .Owner }}/{{ .Repository }}/{{ .Branch }}">{{ .Branch }}</a>
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if .Query }}
        &gt; <a href="?q={{ .Query }}">{{ .Query }}</a>
    {{ end }}
{{ end }}

<section class="dataTable-container">
    <table id="events" class="display cell-border">
        <thead>
            <tr>
                <th class="time">Time</th>
                <th class="event">Event</th>
                <th class="sender">Sender</th>
                <th class="source">Source</th>
                <th class="job">Job</th>
                <th class="build">Build</th>
                <th class="state">State</th>
                <th class="start">Start</th>
                <th class="end">End</th>
                <th class="duration">Duration</th>
            </tr>
        </thead>
        <tbody>
            {{ range $event := .Events }}
            {{ $jobs := (loadJobsForEvent $event.GUID) }}
            {{ if not $jobs }}
            <tr>
                <td data-order='{{ $event.Time.Format "2006-01-02 15:04:05" }}'>
                    {{- if (vdate $event.Time).IsToday -}}
                        {{ $event.Time.Format "15:04:05" }}
                    {{- else -}}
                        {{ $event.Time.Format "2006-01-02 15:04:05" }}
                    {{- end -}}
                </td>
                <td title="{{ $event.GUID }}">
                    {{ if eq $event.Kind "push" }}
                        <span class="iconify" data-icon="octicon:repo-push-16" data-inline="false" title="{{ $event.Kind }}"></span>
                        <span>{{ $event.Details }}</span>
                    {{ else if eq $event.Kind "pull_request" }}
                        {{ if eq $event.Action "closed" }}
                        <span class="iconify" data-icon="octicon:git-pull-request-closed-16" data-inline="false" title="{{ $event.Kind }}"></span>
                        {{ else }}
                        <span class="iconify" data-icon="octicon:git-pull-request-16" data-inline="false" title="{{ $event.Kind }}"></span>
                        {{ end }}
                        <span>
                            {{ if $event.URL }}
                                <a href="{{ $event.URL }}">{{ $event.Details }}</a>
                            {{ else }}
                                {{ $event.Details }}
                            {{ end }}
                        </span>
                    {{ else if eq $event.Kind "pull_request_comment" }}
                        <span class="iconify" data-icon="octicon:code-review-16" data-inline="false" title="{{ $event.Kind }}"></span>
                        <span class="event-comment event-action-{{ $event.Action }}">
                            {{ if $event.URL }}
                                <a href="{{ $event.URL }}">{{ $event.Details }}</a>
                            {{ else }}
                                {{ $event.Details }}
                            {{ end }}
                        </span>
                    {{ else if eq $event.Kind "issue_comment" }}
                        <span class="iconify" data-icon="octicon:comment-16" data-inline="false" title="{{ $event.Kind }}"></span>
                        <span class="event-comment event-action-{{ $event.Action }}">
                            {{ if $event.URL }}
                                <a href="{{ $event.URL }}">{{ $event.Details }}</a>
                            {{ else }}
                                {{ $event.Details }}
                            {{ end }}
                        </span>
                    {{ else }}
                        <span>{{ $event.Kind }}</span>
                        <span>{{ $event.Details }}</span>
                    {{ end }}
                    <clr-icon shape="copy-to-clipboard" size="16" class="icon event-copy-guid-to-clipboard" style="float: right;" title="Copy event GUID to clipboard" data-guid="{{ $event.GUID }}"></clr-icon>
                </td>
                <td>{{ $event.Sender }}</td>
                <td>
                    <a href="/events/{{ $event.Owner }}/{{ $event.Repository }}">{{ $event.Owner }}/{{ $event.Repository }}</a>
                    <span>
                        <a href="/events/{{ $event.Owner }}/{{ $event.Repository }}/{{ $event.Branch }}">
                            {{ if $event.PullRequestNumber }}
                                #{{ $event.PullRequestNumber }}
                            {{ else }}
                                {{ $event.Branch }}
                            {{ end }}
                        </a>
                    </span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {{ end }}
            {{ range $job := $jobs }}
            <tr>
                <td data-order='{{ $event.Time.Format "2006-01-02 15:04:05" }}'>
                    {{- if (vdate $event.Time).IsToday -}}
                        {{ $event.Time.Format "15:04:05" }}
                    {{- else -}}
                        {{ $event.Time.Format "2006-01-02 15:04:05" }}
                    {{- end -}}
                </td>
                <td title="{{ $event.GUID }}">
                    {{ if eq $event.Kind "push" }}
                        <span class="iconify" data-icon="octicon:repo-push-16" data-inline="false" title="{{ $event.Kind }}"></span>
                        <span>{{ $event.Details }}</span>
                    {{ else if eq $event.Kind "pull_request" }}
                        {{ if eq $event.Action "closed" }}
                        <span class="iconify" data-icon="octicon:git-pull-request-closed-16" data-inline="false" title="{{ $event.Kind }}"></span>
                        {{ else }}
                        <span class="iconify" data-icon="octicon:git-pull-request-16" data-inline="false" title="{{ $event.Kind }}"></span>
                        {{ end }}
                        <span>
                            {{ if $event.URL }}
                                <a href="{{ $event.URL }}">{{ $event.Details }}</a>
                            {{ else }}
                                {{ $event.Details }}
                            {{ end }}
                        </span>
                    {{ else if eq $event.Kind "pull_request_comment" }}
                        <span class="iconify" data-icon="octicon:code-review-16" data-inline="false" title="{{ $event.Kind }}"></span>
                        <span class="event-comment event-action-{{ $event.Action }}">
                            {{ if $event.URL }}
                                <a href="{{ $event.URL }}">{{ $event.Details }}</a>
                            {{ else }}
                                {{ $event.Details }}
                            {{ end }}
                        </span>
                    {{ else if eq $event.Kind "issue_comment" }}
                        <span class="iconify" data-icon="octicon:comment-16" data-inline="false" title="{{ $event.Kind }}"></span>
                        <span class="event-comment event-action-{{ $event.Action }}">
                            {{ if $event.URL }}
                                <a href="{{ $event.URL }}">{{ $event.Details }}</a>
                            {{ else }}
                                {{ $event.Details }}
                            {{ end }}
                        </span>
                    {{ else }}
                        <span>{{ $event.Kind }}</span>
                        <span>{{ $event.Details }}</span>
                    {{ end }}
                    <clr-icon shape="copy-to-clipboard" size="16" class="icon event-copy-guid-to-clipboard" style="float: right;" title="Copy event GUID to clipboard" data-guid="{{ $event.GUID }}"></clr-icon>
                </td>
                <td>{{ $event.Sender }}</td>
                <td>
                    <a href="/events/{{ $event.Owner }}/{{ $event.Repository }}">{{ $event.Owner }}/{{ $event.Repository }}</a>
                    <span>
                        <a href="/events/{{ $job.Owner }}/{{ $job.Repository }}/{{ $job.Branch }}">
                            {{ if $job.PullRequestNumber }}
                                #{{ $job.PullRequestNumber }}
                            {{ else }}
                                {{ $job.Branch }}
                            {{ end }}
                        </a>
                    </span>
                </td>
                <td title="{{ $job.Name }}">
                    <a href="/job/{{ $job.Name }}.yaml" title="Open YAML definition for Job {{ $job.Name }}">
                        <clr-icon shape="file" size="16" class="icon"></clr-icon>
                    </a>
                    <span class="job-type-{{ lower $job.Type }}">{{ $job.Type }}</span>
                </td>
                <td>
                    {{ if $job.ReportURL }}
                        <a href="{{ $job.ReportURL }}">{{ $job.Context }} #{{ $job.Build }}</a>
                    {{ else }}
                        {{ $job.Context }}
                        {{ with $job.Build }}#{{ . }}{{ end }}
                    {{ end }}
                </td>
                <td class="job-state-{{ lower $job.State }}" title="{{ $job.Description }}">{{ $job.State }}</td>
                <td data-order='{{ $job.Start.Format "2006-01-02 15:04:05" }}'>
                    {{- if (vdate $job.Start).IsToday -}}
                        {{ $job.Start.Format "15:04:05" }}
                    {{- else -}}
                        {{ $job.Start.Format "2006-01-02 15:04:05" }}
                    {{- end -}}
                </td>
                <td data-order='{{ if not $job.End.IsZero }}{{ $job.End.Format "2006-01-02 15:04:05" }}{{ end }}'>
                    {{- if not $job.End.IsZero }}
                        {{- if (vdate $job.End).IsToday -}}
                            {{ $job.End.Format "15:04:05" }}
                        {{- else -}}
                            {{ $job.End.Format "2006-01-02 15:04:05" }}
                        {{- end -}}
                    {{- end -}}
                </td>
                <td data-order="{{ $job.Duration.Seconds }}">{{ with $job.Duration }}{{ . }}{{ end }}</td>
            </tr>
            {{ end }}
            {{ end }}
        </tbody>
    </table>
</section>
